<div class="header">
  <div class="container">
    <form class="title" ng-submit="comicCtrl.newComic()">
      <input class="input title--name" type="text" placeholder="Comic Name" ng-model="comicCtrl.input" ng-hide="comicCtrl.name !== ''">
      <input class="button title--submit" type="submit" ng-hide="comicCtrl.name !== ''">
    </form>
    <div class="buttons">
      <input class="button buttons--new-tile" type="submit" value="New Tile" ng-click="comicCtrl.newTile()" ng-hide="comicCtrl.name === ''">
      <input class="button buttons--border-radius" type="submit" value="Border Radius" ng-hide="comicCtrl.name === ''">
      <input class="button buttons--border-width" type="submit" value="Border Width" ng-hide="comicCtrl.name === ''">
      <input class="button buttons--color-picker" type="submit" value="Color Picker" ng-hide="comicCtrl.name === ''">
      <input class="button buttons--title" type="submit" value="{{ comicCtrl.name }}" ng-hide="comicCtrl.name === ''">
    </div>
  </div>
</div>

<div class="container">
  <div class="tiles">
    <div class="small tile" ng-repeat="tile in comicCtrl.tiles">
      <img ng-src="{{ tile.img }}">
      <input type="submit" value="Edit" class="button" ui-sref="tile({ id: tile.id })">
      <input type="submit" value="Delete" class="button" ng-click="comicCtrl.deleteTile(tile)">
      <div class="cover"></div>
    </div>
  </div>
</div>

  <div class="footer">
    <input class="button" type="submit" value="Dark Mode">
  </div>
</div>
