.title {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--name {
    width: 1000px;
  }

  &--submit {
    background: linear-gradient(#f00, #700, #300);
    color: #fff;
    @include box-shadows;
  }
}

.buttons {
  margin-left: -10px;

  &--title {
    background: linear-gradient(#f00, #700, #300);
    color: #fff;
    width: inherit;
  }
}

.buttons {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.tiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;

  .tile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover .cover {
      opacity: 0;
      transition: 1s;
    }

    .button {
      z-index: 5;
      margin-bottom: 10px;
      opacity: 0;
      transition: 1s;
    }

    &:hover .button {
      opacity: 100;
      transition: 1s;
    }

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      opacity: .6;
      height: 300px;
      width: 300px;
      transition: 1s;
    }


  }


}

.footer {
  width: 200px;
  margin: 20px auto;
  clear: both;

  .button {
    margin: 0;
  }
}
