.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .options {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input {
      width: 500px;
    }
  }
}

.select {
  background: linear-gradient(#f00, #700, #300);

  &:hover {
    background: linear-gradient(#fcc, #f00, #700);
  }
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  select {
    z-index: 2;
    height: 25px;
    font-size: 1rem;
    background: linear-gradient(#fff, #eee, #333);
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 154px;

  .imgContainer {
    position: relative;

    &:hover .cover {
      opacity: .7;
      transition: 1s;
    }

    img {
      width: 150px;
      height: 150px;
      border: 2px solid black;
      @include box-shadows;
    }

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      height: 154px;
      width: 154px;
      opacity: 0;
      transition: 1s;
      background: #000;
    }

    .button {
      position: absolute;
      width: 50px;
      top: 50%;
      left: 43%;
      transform: translate(-50%, -50%);
      width: 80%;
      opacity: 0;
    }

    &:hover .button {
      opacity: 1;
    }
  }
  i {
    color: #fff;
    font-size: 50px;
    margin-right: 10px;

    &:last-child {
      right: 0;
      margin-left: 10px;
    }
  }
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
  color: #fff;
  font-size: 1.5rem;

  img {
    width: 300px;
    height: 300px;
  }
}

.caption {
  font-size: 1.5rem;
  color: #eee;
  text-align: center;
  background-color: rgba(150, 0, 0, .75);
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  width: 300px;
  height: 75px;
  margin: 0 auto;
  padding: 10px 0;
  margin-top: -20px;
  @include box-shadows;
}

.tileFooter {
  width: 280px;
  margin: 20px auto;
  display: flex;
  justify-content: center;

  .button {
    margin: 0 10px;
  }
}
