.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@mixin box-shadows {
  box-shadow: 10px 10px 10px 1px #111;
}

@mixin button {
  border: none;
  border: 2px solid #000;
  border-radius: 50px;
  font-size: 1.5rem;
  background: linear-gradient(#fff, #777, #333);
  width: 200px;
  height: 75px;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}
